# Here are the necessary dependencies for the project
pandas==2.1.0
numpy==1.26.0
scikit-learn==1.3.2
tqdm==4.66.1
vaderSentiment==3.3.3
transformers==4.43.0
torch==2.1.0
google-play-scraper==1.0.1
python-dotenv==1.0.0
